*{
  padding:px;
  margin:0px;
  box-sizing:border-box;
 }
 
 body{
     font-family: Georgia, Times New Roman, Times, Serif;
     
     
     }
     
     nav{
        display:inline-block;
        justify-content:space-between;
        padding:0px;
        background-color:blue;
        transition:0.9s ease;
        width:100%;
        weight:100px;
        }
        
     Section{
        padding:20px 10px;
    
        }
        
       
        }
        
     @media(max-width:1000px){
     
     main{
         flex-direction:column;
         }
         
       .info{
          background-color:aqua;
         }
          
     }
         
  
        
     @media( max-width:100px){
        .hamburger-wrapper{
           display:inline-block;
           justify-content:space-between;
           color:blue;
           cursor:pointer;
           font-size:300px;
           width: 300%;
           height:100%;
           weight:100px;
           }
         
      }
      .nav-items{
          display:inline-block;
          background-color:dodgerblue;
          width:130%;
          text-align:left;
          padding:0.5px;
          height:20%;
          weight:80px;
          }
      main{
        display-flex
        padding:0px;
        transition: 0.3s ease;
        width:128%;
        color:lime;
        background-color:blue;
        }
      
      .info{
         width:80%;
         font-size:80px;
         }
         
      .info h1{
          font-size:15px;
          font-weight:10;
          line-height:1.5;
          background-color:transparent;
          }
          
        .info p{
           font-size:20px;
           color:fuchsia;
           }
   
        
        .my-image{
          width:300%;
          }
        .my-image IMG{
              width:20%;
              height:30%;
              }
      
     .nav-links{
         text-align:left;
         }
     
     
     

     /* Style all font awesome icons */
     .fa {
     padding: 20px;
     font-size: 30px;
     width: 20px;
     text-align: center;
     text-decoration: none;
     }
     
     /* Add a hover effect if you want */
     .fa:hover {
     opacity: 0.7;
     }
     
     /* Set a specific color for each brand */
     
     /* Facebook */
     .fa-facebook {
     background: #3B5998;
     color: white;
     }
     
     /* Twitter */
     .fa-twitter {
     background: #55ACEE;
     color: white;
     }
     
     
     
     .fa-linkedin {
     background: #007bb5;
     color: white;
     }
     
     .fa-youtube {
     background: #bb0000;
     color: white;
     }
     
     .fa-instagram {
       background:#bb0000;
     color: white;
     }
     
     